<p id="notice"><%= notice %></p>

<p>
  <strong>Course course:</strong>
  <%= @enrollment.course_course_id %>
</p>

<p>
  <strong>Student student:</strong>
  <%= @enrollment.student_student_id %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
