<%= form_for(second_exam) do |f| %>
  <% if second_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(second_exam.errors.count, "error") %> prohibited this second_exam from being saved:</h2>

      <ul>
      <% second_exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :second_exam_id %>
    <%= f.number_field :second_exam_id %>
  </div>

  <div class="field">
    <%= f.label :grade %>
    <%= f.text_field :grade %>
  </div>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.number_field :course_id %>
  </div>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.number_field :student_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
